<toaster-container></toaster-container>
<ng4-loading-spinner [template]="template" [timeout]="spinnerTimeout" [loadingText]="pleasewait" [zIndex]="9999">
</ng4-loading-spinner>
<form ngNativeValidate [formGroup]="NewGroup">

  <nb-card>
    <nb-card-header>{{'userManagement.groupInfo' | translate}}</nb-card-header>
    <nb-card-body>

      <div class="row">
        <div class="col-md-12">
          <ngx-company-hierarchy-filtration 
            (sectorIdValue)='sectorChange($event)' (generalRegionIdValue)='generalRegionChange($event)'
            (regionIdValue)='regionChange($event)' [showDistrict]="false" >
          </ngx-company-hierarchy-filtration>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label class="required-input">{{'userManagement.name' | translate}}</label>
            <input type="text" formControlName="name" class="form-control" maxlength="250"
              placeholder="{{'userManagement.name' | translate}}">
          </div>
          <div class="form-control-feedback alert alert-danger"
            *ngIf="nameControl?.errors && (nameControl.dirty || nameControl.touched)">
            <span *ngIf="nameControl?.errors.required">{{'userManagement.nameValidation' | translate}}</span>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="">{{'userManagement.users' | translate}}</label>
            <ng-select appendTo="body" class="custom" formControlName="users"  [multiple]="true"
              [closeOnSelect]="false" [hideSelected]="true">
              <ng-option *ngFor="let user of newGroup" [value]="user.userId">{{user.userName}}</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-12">
          <div class="form-group">
            <label class="" for="inputCustomerDescription">{{'userManagement.description' | translate}}</label>
            <textarea type="text" formControlName="description" class="form-control" id="inputDescription"
              placeholder="{{'userManagement.description' | translate}}"></textarea>

          </div>
        </div>


      </div>

      <!-- <div class="row">

        <div class="col-sm-12">
          <div class="form-group">
            <label>{{'userManagement.roles' | translate}}</label>
            <ng-select appendTo="body" class="custom" formControlName="groups" [multiple]="true" [closeOnSelect]="false"
              [hideSelected]="true">
              <ng-option *ngFor="let group of newGroup?.groups" [value]="group">{{group.name}}</ng-option>

            </ng-select>
          </div>
        </div>
      </div> -->
      <nb-card *ngIf="groups.length > 0">
          <nb-card-header class="bg-secondary text-white">{{'userManagement.roles' | translate}}</nb-card-header>
        <nb-card-body>
          <nb-tabset class="horizontal-tabs">
            <nb-tab *ngFor="let group of groups" tabTitle="{{group.name}}">
              <nb-card>
                <nb-card-header>
                  <nb-checkbox status="primary" [value]="group.isChecked" (change)="onChangeRolesAll(group.id, $event)">
                    {{'userManagement.selectAll' | translate}}</nb-checkbox></nb-card-header>
                <nb-card-body>
                  <div class="row" *ngIf="group.roles && group.roles.length > 0" formArrayName="roles">
                    <div class="col-md-4" *ngFor="let role of group.roles">
                      <nb-checkbox status="primary" [value]="role.isChecked" (change)="onChangeRoles(role.id, group.id, $event)">
                        {{role.displayName}}</nb-checkbox>
                    </div>
                  </div>
                </nb-card-body>
              </nb-card>
            </nb-tab>
          </nb-tabset>
        </nb-card-body>
      </nb-card>


    </nb-card-body>
  </nb-card>
  <!-- Card Service-->
  <div>
    <button [disabled]="!NewGroup.valid" type="submit" class="btn btn-primary btn-lg" style="text-align: center;"
      (click)="NewGroupFunc()">{{'userManagement.save' | translate}}</button>
  </div>
</form>